{namespace k=Tx_ExtbaseKickstarter_ViewHelpers} 
<f:layout name="default" />
<f:section name="header">
	<k:be.configuration />
</f:section>
<f:section name="iconButtons">
</f:section>
<f:section name="content">

	<script>

<![CDATA[
		function onOryxResourcesLoaded(){
			ORYX_LOGLEVEL = 5;
			ORYX.CONFIG.ROOT_PATH = '/extdev-trunk/typo3conf/ext/extbase_kickstarter/Resources/Public/Oryx/';
			ORYX.MashupAPI = {
				loadablePlugins: [
					'ORYX.Plugins.DragDropResize',
					'ORYX.Plugins.JSONSupport',
					'ORYX.Plugins.Undo',
					'ORYX.Plugins.Arrangement',
					'ORYX.Plugins.ShapeRepository',
					'ORYX.Plugins.PluginLoader',
					'ORYX.Plugins.Edit',
					//'ORYX.Plugins.Toolbar',
					'ORYX.Plugins.File',
					'ORYX.Plugins.CanvasResize',
					'ORYX.Plugins.HighlightingSelectedShapes',
					'ORYX.Plugins.Grouping',
					'ORYX.Plugins.File',
					'ORYX.Plugins.Save',
					'ORYX.Plugins.SSExtensionLoader',
					'ORYX.Plugins.DragDocker',
					'ORYX.Plugins.AddDocker',
					'ORYX.Plugins.RDFExport',
					'ORYX.Plugins.KeysMove',
					'ORYX.Plugins.RowLayouting',
					'ORYX.Plugins.ShapeHighlighting',
					'ORYX.Plugins.SelectionFrame',
					'ORYX.Plugins.ShapeMenuPlugin'
				],
			};
			new ORYX.Editor({
				fullscreen: false,
				//id: Ext.get('tab-dm').getEl().id,
				id: 'tab-dm',
				stencilset: {
					url: 'http://typo3-dev' + ORYX.CONFIG.ROOT_PATH + 'stencilsets/workflownets/workflownets.json'
				}
			});
		}
		]]>
	</script>

	<div id="domainModelEditor">
		If you can read this...<br />... somewhere something must have gone wrong...
		<!--div id="top">
			<div class="logo">Extbase Kickstarter</div>
			<div class="topright"></div>
		</div>

		<div id="left">
			<div id="propertiesForm"></div>
		</div>

		<div id="right">
			<h2>Code generation related stuff here</h2>
		</div>

		<div id="center">
			<div id="moduleBar"></div>
			<div id="modelingLayer"></div>
		</div>


		<div id="bottom">
			<center><div id="toolbar"></div></center>
		</div>


		<div id="helpPanel">
			<div class="hd">Extbase Modeling - a kickstarter for extbase based extensions</div>
			<div class="bd" style="text-align: left;">
				<p>This is the Extbase Modeling interface.</p>
				<br />
				<p>View <a href="http://www.infoq.com/presentations/model-to-work-evans" target="_new">Putting the Model to Work</a> and <a href="http://www.infoq.com/presentations/strategic-design-evans" target="_new">Strategic Design</a> by Eric Evans <br /> to get an introduction into Domain Driven Design (DDD).</p>
				<br />
			</div>
		</div-->
	</div>
</f:section>